.page {
    height: 100svh;
    width: 100%;
    display: grid;
    place-items: center;
    font-family: system-ui, sans-serif;
    background: #fff0f5;
}

.buttons {
    display: flex;
    gap: 20px;
}

button {
    font-size: 1.2rem;
    padding: 12px 24px;
    border-radius: 10px;
    border: none;
    cursor: pointer;
}

.yes {
    background: #ff5da2;
    color: white;
}

.no {
    background: #ddd;
}

h1 {
    font-size: xx-large;
}
